#menuDiv {
    width: 60%;
    margin: 0 auto;
    display: flex;
    position: static;
}

#foodDiv, #homeDiv, #trainingDiv, #loginDiv {
    width: 25%;
    height: 8rem;
    background-color: #ef7c8e;
    border: 1px solid #b6e2d3;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
}

#foodDiv:hover, #homeDiv:hover, #trainingDiv:hover, #loginDiv:hover {
    opacity: 0.7;
}

#menuDiv a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    height: 100%;
}

#menuDiv i {
    font-size: 3rem;
}

.errorDiv {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
}

.errorGreen {
    background-color: greenyellow;
}

.errorRed {
    background-color: orangered;
}